* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.logo {
    background-color: #Ccc;

}

.logo img {
    width: 200px;
    position: relative;
    animation: up 1s linear infinite;
}

@keyframes up {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: 10px;
    }
}

.landing {
    height: calc(100vh - 113px);
    max-height: 100vh;
    position: relative;
    background-color: #ccc;
}

.landing .box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #fff;

}

@media (max-width: 767px) {
    .landing .box {
        width: 367px
    }
}

@media (min-width: 767px) {
    .landing .box {
        width: 825px;
    }
}

@media (max-width: 767px) {
    .imga img {
        display: none;
    }
}

@media (min-width: 992px) {
    .landing .box {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.imga img {
    width: 100%;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.landing .box .info {
    background-color: #fff;
    flex-basis: 110%;
    position: relative;
}

.landing .box .info h3 {
    margin: 0 auto;
    padding: 60px 0 0;
    font-weight: bold;

}

/* .landing .box .info form {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}*/

.landing .box .info svg {
    font-size: 20px;
    margin: 3px 15px;
    color: #ccc;
}

.or {
    font-size: 20px;
    font-weight: bold
}

.or::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 1px;
    background-color: #7f7f7f;
    left: 5px;
    top: 45%;
}

.or::after {
    content: "";
    position: absolute;
    width: 160px;
    height: 1px;
    background-color: #7f7f7f;
    right: 5px;
    top: 45%;
}

.social {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 767px) {
    .social {
        justify-content: center;
    }
}

.social li {
    margin-right: 10px;
}

.social li a {
    background-color: #FFf;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 50%;
}

.social .facebook:hover {
    background-color: #1877f2;
}

.social .twitter:hover {
    background-color: #1da1f2;
}

.social .youtube:hover {
    background-color: #ff0000;
}

input {
    background: #f3f7f996;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    transition: all 0.3s;
    margin-bottom: 10px;
    display: block;
    width: 95%;
    margin: 20px 10px;
}

input::placeholder {
    color: #dbd0d0;
    font-weight: bold;
    text-align: center;

}

input:focus {
    border-bottom: 2px solid;
}

.Submit {
    width: 50%;
    margin: 10px auto;
    border: 1px solid #dbd0d0;
    border-radius: 15px;
    font-size: 20px;
    animation: up-and-down 1s linear infinite;
    position: relative;
    background: linear-gradient(45deg, #93d5f4,
            transparent 40%, #93d5f4);
}

.Submit:hover {
    background: linear-gradient(50deg, #2fad71db,
            transparent 50%, #2fad71db);
}